.volume-slider-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    bottom: 10px;
    left: 10px;
    /* background-color: rgba(0, 0, 0, 0.7); */
    padding: 8px;
    border-radius: 5px;
    opacity: 0.1;
    transition: opacity 0.3s ease;
    z-index: 1000;
    min-width: 120px;
}

.volume-slider-container:hover {
    opacity: 1;
}